@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gowun+Batang&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Merriweather", serif;
}
.navbar-content{
    display: flex;
    justify-content: center;
}
.navbar-list{
    display: flex;
    justify-content: center;
    position: sticky;
    list-style: none;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 20px;
}
.nav-item {
    margin-right: 30px;
    padding: 20px;
    transition: font-size 0.3s ease-out, color 0.3s ease-out;
}
.nav-item a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-out;
}
.nav-item:hover {
    font-size: 20px;
}
#name {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

#title {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.btn-area {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#profile-img {
    width: 300px;
    height: 380px;
    border-radius: 150px;
    margin-top: 300px;
    margin-left: 330px;
}
.text-section {
    display: flex;
    justify-content: end;
    margin-left: 780px;
    margin-right: 250px;
    margin-bottom: 300px;
    margin-top: -340px;
}
.skill-area{
    display: flex;
    justify-content: center;
}
#skill-header{
    text-align: center;
}
.central-line {
    width: 2px;
    height: 500px; 
    margin-left: 245px;
    margin-top: 40px;
    background-color: black;
    position: relative;
}
.lang{
    position: relative;
    top: -450px;
    left: 250px;
    transition: font-size 0.3s ease-out, color 0.3s ease-out;
}
.lang-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -40px;
    margin-left: 150px;
}
.lang-items{
    list-style: none;
    margin-left: 20px;
}
.frame{
    position: relative;
    top: -400px;
    left: 30px;
    transition: font-size 0.3s ease-out, color 0.3s ease-out;
}
.frame-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -390px;
    margin-top: -40px;
    transform: scale(1.2);
}
.frame-items{
    list-style: none;
    margin-right: 20px;
}
.database{
    position: relative;
    top: -350px;
    left: 250px;
    transition: font-size 0.3s ease-out, color 0.3s ease-out;
}
.data-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -40px;
    margin-left: 170px;
}
.data-items{
    list-style: none;
    margin-right: 20px;
}
.others{
    position: relative;
    top: -300px;
    left: 35px;
    transition: font-size 0.3s ease-out, color 0.3s ease-out;
}
#other-header{
    position: relative;
   right: -90px;
}
.other-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -40px;
    margin-left: -520px;
    transform: scale(1.2);
}
.other-items{
    list-style: none;
    margin-left: 20px;
}
.lang:hover{
    font-size: 20px;
}
.frame:hover{
    font-size: 20px;
}
.database:hover{
    font-size: 20px;
}
.others:hover{
    font-size: 17px;
}
.other-list:hover{
    margin-left: -560px;
}
.frame-list:hover{
    margin-left: -440px;
}
.projects {
    margin-bottom: 200px;
}

#projectArea-header {
    text-align: center;
}

.project-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-right: 30px;
}
.project-items {
    width: 25%;
    margin-top: 40px;
    margin-right: 40px;
    position: relative;
    transition: transform 0.3s ease-out;
}
.project-items:hover {
    transform: translateY(-2px);
}
.project-items::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -6px;
    bottom: -6px;
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
    border-radius: 10px;
    visibility: hidden;
    transition: visibility 0s, transform 0.3s ease-out;
}
.project-items:hover::before {
    visibility: visible;
    transform: scale(1.05);
}
.project-links{
    text-decoration: none;
}
.contact-area {
    display: flex;
    justify-content: end;
    margin-right: 400px;
}
.contact-form {
    width: 25%;
    margin-top: 100px;
}
.card-header {
    background-color: black;
}
#card-footer {
    border-top: 2px dotted black;
}
.resume-area {
    margin-top: -250px;
    margin-left: 400px;
    margin-bottom: 300px;
}
#down-btn {
    font-size: 25px;
    margin-left: 140px;
}
#info-btn,
#contact-btn {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    color: black;
    position: relative;
    transition: transform 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out;
}
#info-btn:hover,
#contact-btn:hover {
    transform: translateY(-2px);
    background-color: black;
    color: white;
}
#info-btn::before,
#contact-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -6px;
    bottom: -6px;
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
    border-radius: 10px;
    visibility: hidden;
    transition: visibility 0s, transform 0.3s ease-out;
}
#info-btn:hover::before,
#contact-btn:hover::before {
    visibility: visible;
    transform: scale(1.05); 
}
.footer-section{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}
@media (max-width: 1429px) {
    #profile-img {
        margin-left: 200px;
    }
    .text-section{
        margin-right: 100px;
        margin-left: 600px;
    }
    .contact-area{
        margin-right: 200px;
    }
    .resume-area{
        margin-left: 350px;
    }
   .skills-headers{
    font-size: 20px;
   }
   .lang-list{
        margin-left: 100px;
        margin-top: -30px;
   }
   .frame{
    left: 90px;
   }
   .frame-list{
    margin-top: -30px;
   }
   .data-list{
    margin-left: 120px;
    margin-top: -30px;
   }
   .other-list{
    margin-top: -30px;
   }
   #skill-header{
    margin-right: -45px;
   }
   .skill-area{
    margin-right: -120px;
   }
}
@media (max-width: 1300px) {
    #profile-img{
        margin-left: 100px;
    }
    .text-section{
        margin-left: 500px;
    }
    .contact-area{
        margin-right: 100px;
    }
    .resume-area{
        margin-left: 250px;
    }
    .skill-area{
        margin-right: -130px;
       }
    .skills-headers{
        font-size: 15px;
    }
    .lang-list{
        font-size: 10px;
        margin-left: 60px;
        margin-top: -25px;
    }
    .frame{
        left: 130px;
    }
    .frame-list{
        font-size: 10px;
        margin-left: -280px;
        margin-top: -25px;
    }
    .data-list{
        font-size: 10px;
        margin-left: 80px;
        margin-top: -25px;
    }
    .others{
        left: 85px;
    }
    .other-list{
        font-size: 10px;
        margin-left: -345px;
        margin-top: -25px;
    }
    #skill-header{
        margin-left: 130px;
    }
}
@media (max-width: 960px) {
    #profile-img{
        width: 200px;
        height: 250px;
    }
    .text-section{
        font-size: 12px;
        margin-left: 400px;
    }
    .project-items{
        width: 30%;
    }
    .contact-area{
        margin-right: 70px;
    }
    .contact-form{
        width: 35%;
    }
    .resume-area{
        margin-left: 100px;
    }
    .skill-area{
        margin-right: 20px;
       }
       .skills-headers{
        font-size: 10px;
    }
    .lang-list{
        margin-left: 30px;
        margin-top: -20px;
    }
    .frame-list{
        margin-top: -20px;
    }
    .data-list{
        margin-top: -20px;
        margin-left: 50px;
    }
    .other-list{
        margin-top: -20px;
    }
    #skill-header{
        margin-right: -70px;
    }

}
@media (max-width: 800px){
    #profile-img{
        width: 200px;
        height: 250px;
        margin-left: 50px;
    }
    .text-section{
        margin-left: 350px;
    }
    .contact-area {
        margin-right: 50px;
    }
    .contact-form{
        width: 40%
    }
    .resume-area{
        margin-left: 50px;
        font-size: 15px;
    }
    .project-items{
        width: 35%;
    }
    .lang-list{
        flex-direction: column;
    }
    .frame-list{
        flex-direction: column;
        margin-left: -80px;
    }
    .data-list{
        flex-direction: column;
    }
    .other-list{
        flex-direction: column;
        margin-left: -80px;
    }
}
@media (max-width: 710px) {
    #profile-img {
        width: 170px;
        height: 210px;
        margin-left: 35px;
    }
    .text-section {
        font-size: 11px;
        margin-left: 300px;
    }
    #resume-header{
        font-size: 20px;
    }
    #down-btn{
        margin-left: 70px;
    }
    .project-items{
        width: 45%;
    }
}
@media (max-width: 615px) {
    .nav-item{
        font-size: 10px;
        padding: 10px;
    }
    #profile-img{
        width: 130px;
        height: 170px;
        margin-left: 30px;
    }
    .text-section{
        margin-left: 230px;
        font-size: 10px;
    }
    .project-items{
        width: 50%;
    }
    .skill-area{
        margin-right: 100px;
    }
}
@media (max-width: 520px) {
    #profile-img{
        width: 100px;
        height: 150px;
        margin-left: 20px;
    }
    .text-section{
        margin-left: 200px;
        margin-right: 50px;
        font-size: 9px;
    }
    #resume-header{
        font-size: 17px;
    }
    .contact-area {
        margin-right: 10px;
    }
    .contact-form{
        width: 50%
    }
    #down-btn{
        margin-left: 40px;
    }
    .project-items{
        width: 60%;
    }
}
@media (max-width: 460px) {
    #resume-header{
        font-size: 10px;
    }
    #down-btn{
        margin-left: 20px;
    }
    .skill-area{
        margin-right: 200px;
    }
}
