.navbar-content{
    display: flex;
    justify-content: center;
}
.navbar-list{
    display: flex;
    justify-content: center;
    position: sticky;
    list-style: none;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 20px;
}
.nav-item {
    margin-right: 30px;
    padding: 20px;
    transition: font-size 0.5s ease-out;
}
#name{
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
}
#title{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.btn-area{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#info-btn{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    color: black;
    transition: all 0.5s ease-out;
}
#profile-img{
    width: 250px;
    height: 300px;
    border-radius: 150px;
    margin-top: 100px;
    margin-left: 330px;
}
.text-section{
    display: flex;
    justify-content: end;
    margin-left: 750px;
    margin-right: 250px;
    margin-top: -280px;
}
#info-btn {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    color: black;
    position: relative;
    transition: background-color 0.5s ease-out, color 0.5s ease-out, transform 0.5s ease-out;
}
.projects{
    margin-top: 100px;
}
#projectArea-header{
    text-align: center;
}
.project-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-right: 30px;

}
.project-items {
    width: 25%;
    margin-top: 40px;
    margin-right: 40px;
    position: relative; 
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.project-links{
    text-decoration: none;
}
.card-header{
    background-color: black;
}
#card-footer{
    border-top: 2px dotted black;
}
.nav-item:hover {
    font-size: 20px;
}
#info-btn:hover {
    background-color: black;
    color: white;
    transform: translateY(-2px);
}

#info-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -6px;
    bottom: -6px;
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
#info-btn:hover::before {
    opacity: 1;
}
.project-items:hover {
    transform: translateY(-2px);
}
.project-items:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -6px;
    bottom: -6px;
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.project-items:hover::before {
    opacity: 1;
}

  



